<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Atualizar</title>
    </head>

    <body>
        <h1>Atualizar Registro</h1>
        <p>Trabalhando com EJS</p>
        <p>Lista de Registro</p>
        <ul>
            <%for (let chave in clientes){ %>
                <li><%= clientes[chave].nome %> - <%= clientes[chave].email%></li>
            <% }%>
        </ul>

        <br>
        <% if(erros){ %>
        <ul>
            <%for (let chave in erros){ %>
                <li><%= erros[chave].msg %></li>
            <% }%>
        </ul>
        <% } %>

        <br>
        <form action = "/atualizar" method = "post">
            <input type="text" name="nome"  placeholder="Nome" value="<%= dados.nome %>">
            <input type="text" name="email" placeholder="Email" value="<%= dados.email %>">
            <button>Atualizar Registro</button>
        </form>

    </body>
</html>