<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Principal</title>
    </head>

    <body>
        <h1>Principal</h1>
        <% var texto = 'Trabalhando com EJS'; %>
        <p><%= texto %></p>
        <% var texto1 = 'Lista de Registro'; %>
        <p><%= texto1 %></p>
        <ul>
            <%for (let chave in clientes){ %>
                <li><%= clientes[chave].nome %> - <%= clientes[chave].email%></li>
            <% }%>
        </ul>

        <br>
        <% if(erros){ %>
        <ul>
            <%for (let chave in erros){ %>
                <li><%= erros[chave].msg %></li>
            <% }%>
        </ul>
        <% } %>

        <br>
        <form action = "/deletar" method = "post">
            <input type="text" name="nome"  placeholder="Nome" value="<%= dados.nome %>">
            <button>Deletar Registro</button>
        </form>

    </body>
</html>